/* dartmouth-font-family {
    font-family: Roboto, Helvetica, Arial, sans-serif;
} */

body {
    font-family: Arial, sans-serif;
    background-color: f4f4f4;
    text-align: center;
    margin: 20px;
}

.header{
    font-size: 10px;
    background-color: #00693e;
    color: white;
    padding: 1px;
    text-align: left;
}

#logo {
    margin: 10px;
    width: 5%;
    height: 5%;
}

#title {
    margin-left: 10px;
    font-size: 25px;
}

#logo, h1 {
    display: inline-block;
    vertical-align: middle;
}

.forms{
    padding: 5px;
}

#disk {
    margin-bottom: 5px;
}

#dartfs {
    margin-bottom: 5px;
}

.spacer{
    padding: 2.5px;
}

#result_space{
    margin-top: 25px;
}

#invoice-frame {
    width: 100%;
    height: 600px;
    border: none;
    border: 1px solid black;
}